<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="OAI_ShippingRequest" connectionString="Server=AAG-Omni;Database=OAI_ShippingRequest;Integrated Security=SSPI" />
    <add name="OAI_ShippingRequestConnectionString" connectionString="Data Source=AAG-OMNI;Initial Catalog=OAI_ShippingRequest;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
    <add name="OAI_ShippingRequestConnectionString1" connectionString="Data Source=aag-omni;Initial Catalog=OAI_ShippingRequest;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off">
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="no-reply@oai.aero">
        <network host="smtprelay.oai.aero" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>